.article{
    margin: 0;
    padding: 80px 0;
    background-color: #FAFAFA;
}

.article__title{
    font-family: $main-font-family, sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: #2D314D;
}

.article__list{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.article__item{
    width: 255px;
    margin-right: 30px;
    margin-top: 40px;
    padding: 0;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.article__img{
    width: 255px;
    height: 200px;
    border-radius: 5px 5px 0px 0px;
}

.article__info{
    width: 100%;
    margin-top: 25px;
    padding: 0 24px 24px 24px;
}

.article__aforism{
    font-family: $main-font-family, sans-serif;
    font-size: 10px;
    color: #9597A5;
    margin: 0;
    padding: 0;
}

.article__heading{
    font-family: $main-font-family, sans-serif;
    font-weight: 100;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0; 
}

.article__link{
    text-decoration: none;
    font-family: $main-font-family, sans-serif;
    color: #2D314D;
    margin: 0;
    padding: 0; 
}

.article__link:hover{
    color: #30C88F;
}

.article__text{
    font-family: $main-font-family, sans-serif;
    font-size: 13px;
    color: #9597A5;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width:425px){
    .container{
        width: 100%;
        max-width: 375px;
        padding: 0 20px;
    }

    .article__title{
        width: 100%;
        text-align: center;
    }

    .article__list{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .article__item{
        width: 100%;
    }

    .article__img{
        width: 100%;
    }

    .article__info{
        width: 100%;
    }
}