.choose-bank{
    margin: 0;
    padding: 96px 0;
    background-color: #F4F5F7;
}

.choose-bank__title{
    font-family: $main-font-family, sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: #2D314D;
    margin: 0;
    padding: 0;
}

.choose-bank__info{
    width: 635px;
    margin: 0;
    padding: 0;
}

.choose-bank__text{
    font-family: $main-font-family, sans-serif;
    font-size: 18px;
    color: #9597A5;
    margin-top: 16px;
    margin-bottom: 72px;
    padding: 0;
}

.choose-bank__list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.choose-bank-item{
    position: relative;
    z-index: 1;
    width: 255px;
    margin-right: 30px;
    padding-top: 112px;
}

.choose-bank-item::before{
    position: absolute;
    z-index: 1;
    content: "";
    background-image: url(../../images/online-bank.svg);
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
    top: 0;
    left: 0;
}

.choose-bank-item:nth-child(2)::before{
    background-image: url(../../images/simple.svg);
}

.choose-bank-item:nth-child(3)::before{
    background-image: url(../../images/fast-img.svg);
}

.choose-bank-item:nth-child(4)::before{
    background-image: url(../../images/open-img.svg);
}

.choose-bank-heading{
    font-family: $main-font-family, sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #2D314D;
    margin: 0;
    padding: 0;
}

.choose-bank__about{
    font-family: $main-font-family, sans-serif;
    font-size: 16px;
    color: #9597A5;
    margin-top: 26px;
    padding: 0;
}


