.site-footer{
    margin: 0;
    padding: 49px 0;
    background-color: #2D314D;
}

.site-footer__about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.site-footer__list{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
} 

.site-footer__item{
    width: 160px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.site-footer__item:nth-child(1){
    margin-right: 130px;
}

.site-footer__item:nth-child(2){
    margin-right: 30px;
}

.site-footer__link:hover{
    opacity: 0.6;
}

.list{
    display: flex;
    list-style: none;
    margin-top: 55px;
    padding: 0;
    justify-content: space-between;
}

.svg-img{
    color: #fff;
    transition: color 0.5s ease;
}

.svg-img:hover{
    color: #30C88F;
}

.site-footer__link2{
    text-decoration: none;
    font-family: $main-font-family, sans-serif;
    font-size: 15px;
    display: block;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.site-footer__link2:nth-child(2){
    margin: 8px 0;
    padding: 0;
}

.site-footer__link2:hover{
    color: #30C88F;
}

.site-footer__div{
    width: 260px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.site-footer__link3{
    text-decoration: none;
    font-family: $main-font-family, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    align-items: center;
    display: block;
    width: 163px;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    border-radius: 22px;
    padding: 14px 33px;
    margin-left: auto;
}

.site-footer__link3:hover{
    opacity: 0.4;
}

.site-footer__text{
    font-family: $main-font-family, sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #fff;
    opacity: 0.5;
    margin-top: 24px;
    margin-left: auto;
    padding: 0;
}

@media only screen and (max-width:425px){
    .container{
        width: 100%;
        max-width: 375px;
        padding: 0 20px;
    }

    .site-footer__about{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .site-footer__list{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }

    .list{
        width: 100%;
        display: flex;
    }

    .list__item{
        width: 100%;
        text-align: center;
    }

    .site-footer__item{
        width: 100%;
        text-align: center;
    }

    .site-footer__item:nth-child(1){
        margin-right: 0;
    }

    .site-footer__item:nth-child(2){
        width: 100%;
        text-align: center;
        margin-top: 35px;
        margin-right: 0;
    }

    .site-footer__item:nth-child(3){
        width: 100%;
        text-align: center;
        margin-top: 35px;
    }

    .site-footer__div{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 32px;
    }

    .site-footer__link3{
        margin-left: auto;
        margin-right: auto;
    }

    .site-footer__text{
        text-align: center;
        margin-top: 32px;
        margin-left: 0;
    }
}