.site-header{
    margin: 0 ;
    padding: 0;
    background-color: #fff;
    width: 100%;
    position: fixed;
    z-index: 3;
}

.site-header__menu{
    margin: 0;
    padding: 18px 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.site-header__link:hover{
    opacity: 0.8;
}

.site-header__link:active{
    opacity: 0.6;
}

.nav__list{
    list-style: none;
    display: flex;
    width: 331px;
    justify-content: space-between;
}

.nav__item{
    margin: 0;
    padding: 0;
}

.nav__link{
    position: relative;
    z-index: 1;
    text-decoration: none;
    font-family: $main-font-family, sans-serif;
    font-size: 14px;
    color: $main-color;
}

.nav__link::before{
    position: absolute;
    z-index: 1;
    content: "";
    background-image: url(../../images/link-bg.jpg);
    background-repeat: no-repeat;
    width: 51px;
    height: 4px;
    top: 28px;
    left: 0;
    display: none;
}

.nav__link:hover{
    color: #2D314D;
    &::before{
        display: block;
        margin-top: 18px;
    }
}

.site-header__btn{
    text-decoration: none;
    font-family: $main-font-family, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    align-items: center;
    width: 163px;
    height: 44px;
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    border-radius: 22px;
    padding: 8px 33px;
    margin: 0;
}

.site-header__btn:hover{
    opacity: 0.4;
}

.button{
    width: 30px;
    height: 30px;
    justify-content: center;
    background-color: #fff;
    margin: 0;
    padding: 0 2px;
    justify-content: center;
    border: none;
    display: none;
}

.button__span{
    display: block;
    width: 20px;
    height: 1px;
    background-color: #2D314D;
    text-align: center;
    margin-bottom: 5px;
}

